.App-header {
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-title {
  position: relative;
  top:70px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-displayImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}